<a href="https://colab.research.google.com/github/lcommons/portfolio/blob/master/Transform_and_Fit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Transform and Fit

This notebook does a simple demonstration of transforming and fit.

To begin with the mean of the different variables varies from around 400 to over 1000 and standard deviations vary from 100 to 600. The data isn't comparable and its impossible to draw meaningful conclusions from the data.

In [0]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [0]:
# This is some fake data to demonstrate the concepts
github_url = 'https://raw.githubusercontent.com/lcommons/portfolio/master/data/KNN_Project_Data'
df = pd.read_csv(github_url)

In [3]:
df.head()

          XVPM         GWYH  ...         JHZC  TARGET CLASS
0  1636.670614   817.988525  ...   845.136088             0
1  1013.402760   577.587332  ...   861.081809             1
2  1300.035501   820.518697  ...  1647.186291             1
3  1059.347542  1066.866418  ...  1450.935357             0
4  1018.340526  1313.679056  ...  1899.850792             0

[5 rows x 11 columns]

In [4]:
df.describe()

              XVPM         GWYH  ...         JHZC  TARGET CLASS
count  1000.000000  1000.000000  ...  1000.000000    1000.00000
mean   1055.071157   991.851567  ...  1452.521629       0.50000
std     370.980193   392.278890  ...   568.132005       0.50025
min      21.170000    21.720000  ...    30.890000       0.00000
25%     767.413366   694.859326  ...  1059.499689       0.00000
50%    1045.904805   978.355081  ...  1441.554053       0.50000
75%    1326.065178  1275.528770  ...  1864.405512       1.00000
max    2117.000000  2172.000000  ...  3089.000000       1.00000

[8 rows x 11 columns]

## Transform the data to scale it

In [0]:
scaler = StandardScaler()

In [6]:
scaler.fit(df.drop('TARGET CLASS',axis=1))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [0]:
scaled_features = scaler.transform(df.drop('TARGET CLASS',axis=1))

## Convert the scaled data back to a dataframe

In [8]:
df_feat = pd.DataFrame(scaled_features,columns=df.columns[:-1])
df_feat.head()

       XVPM      GWYH      TRAT  ...      GUUB      MGJM      JHZC
0  1.568522 -0.443435  1.619808  ... -0.932794  1.008313 -1.069627
1 -0.112376 -1.056574  1.741918  ... -0.461864  0.258321 -1.041546
2  0.660647 -0.436981  0.775793  ...  1.149298  2.184784  0.342811
3  0.011533  0.191324 -1.433473  ... -0.888557  0.162310 -0.002793
4 -0.099059  0.820815 -0.904346  ...  0.391419 -1.365603  0.787762

[5 rows x 10 columns]

In [9]:
df_feat.describe()

               XVPM          GWYH  ...          MGJM          JHZC
count  1.000000e+03  1.000000e+03  ...  1.000000e+03  1.000000e+03
mean   1.187939e-17  1.662004e-16  ... -5.010437e-16  2.364775e-17
std    1.000500e+00  1.000500e+00  ...  1.000500e+00  1.000500e+00
min   -2.788339e+00 -2.474303e+00  ... -2.648319e+00 -2.503543e+00
25%   -7.757873e-01 -7.574735e-01  ... -7.136450e-01 -6.921254e-01
50%   -2.472083e-02 -3.442255e-02  ...  2.489807e-02 -1.931429e-02
75%    7.308466e-01  7.235137e-01  ...  6.978394e-01  7.253420e-01
max    2.863927e+00  3.009948e+00  ...  3.060964e+00  2.881896e+00

[8 rows x 10 columns]

The count is still 1000, but in scientific notation, making it harder to read. :-(

 The mean for each value is now ~ zero.

 The standard deviation for each variable is ~ 1. 

 NOW the different variables can be compared in a meaningful way and this data can be compared with other data.